(block tanner_web_podman
    (blockinherit container)
    (allow process node_t ( tcp_socket ( node_bind )))
    (allow process self ( tcp_socket ( listen )))
    (allow process unreserved_port_t ( tcp_socket ( name_bind )))
    (allow process redis_port_t ( tcp_socket ( name_connect )))
)
