apiVersion: v1
kind: Pod
metadata:
  labels:
    app: tanner-pod
  name: tanner-pod
  annotations:
    seccomp.security.alpha.kubernetes.io/pod: localhost/default.json
spec:
  restartPolicy: Never #OnFailure
  hostNetwork: true
  containers:
  - name: srv01
    image: localhost/extra2000/mushorg/tanner
    command: ["/usr/bin/tanner"]
    args: ["--config", "/opt/tanner/tanner/data/config.yaml"]
    securityContext:
      allowPrivilegeEscalation: false
      privileged: false
      capabilities:
        add: []
        drop:
        - CAP_MKNOD
        - CAP_NET_RAW
        - CAP_AUDIT_WRITE
      seLinuxOptions:
        type: tanner_podman.process
    resources:
      requests:
        memory: 100Mi
        cpu: 1000m
      limits:
        memory: 100Mi
        cpu: 1000m
    volumeMounts:
    - mountPath: /tmp/tanner
      name: tanner-tmp
      readOnly: false
    - mountPath: /var/log/tanner
      name: tanner-log
      readOnly: false
    - mountPath: /opt/tanner/files
      name: tanner-files
      readOnly: false
    - mountPath: /opt/tanner/tanner/data/config.yaml
      name: tanner-cfg
      readOnly: true
  volumes:
  - name: tanner-tmp
    persistentVolumeClaim:
      claimName: tanner-tmp
  - name: tanner-log
    persistentVolumeClaim:
      claimName: tanner-log
  - name: tanner-files
    persistentVolumeClaim:
      claimName: tanner-files
  - name: tanner-cfg
    hostPath:
      path: ./configs/config.yaml
